pkgbase = sunshine-foundation-git
	pkgdesc = Self-hosted game stream host for Moonlight (AlkaidLab/qiin2333 fork, Linux migration branch)
	pkgver = 0.9.1.r68.g6c2123f8
	pkgrel = 1
	url = https://github.com/AlkaidLab/foundation-sunshine
	install = sunshine-foundation-git.install
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	makedepends = boost
	makedepends = cmake
	makedepends = git
	makedepends = nlohmann-json
	makedepends = nodejs
	makedepends = npm
	makedepends = pkgconf
	depends = boost=1.92.0
	depends = boost-libs=1.92.0
	depends = curl
	depends = gcc-libs
	depends = libcap
	depends = libdrm
	depends = libevdev
	depends = libglvnd
	depends = libnotify
	depends = libpulse
	depends = libva
	depends = libx11
	depends = miniupnpc
	depends = numactl
	depends = openssl
	depends = opus
	depends = qt6-base
	depends = qt6-svg
	depends = systemd
	depends = udev
	depends = wayland
	optdepends = cuda: NVENC hardware encoding on NVIDIA (rebuild with -DSUNSHINE_ENABLE_CUDA=ON)
	optdepends = libva-intel-driver: VAAPI encoding on older Intel GPUs
	optdepends = libva-mesa-driver: VAAPI encoding on AMD/Intel
	optdepends = nvidia-utils: NVENC/NVDEC driver stack
	provides = sunshine
	conflicts = sunshine
	conflicts = sunshine-git
	conflicts = sunshine-bin
	options = !strip
	source = foundation-sunshine::git+https://github.com/QiE2035/foundation-sunshine.git#branch=linux-migration
	source = flatpak-builder-tools::git+https://github.com/flatpak/flatpak-builder-tools.git#commit=db39dc0f75a3b24cfb09906f3aba2c13b0c48afe
	source = shared-modules::git+https://github.com/flathub/shared-modules.git#commit=d1a2cf59d137b47abc07297ecd35a5af9b5e16f4
	source = sunshine-control-panel::git+https://github.com/qiin2333/sunshine-control-panel.git#commit=beb6a3e61fe52e97c2fa60cec3df6d77ef0ae278
	source = AMF::git+https://github.com/GPUOpen-LibrariesAndSDKs/AMF.git#commit=eadd00804d5f7e5cd8c85d540073198312870776
	source = Simple-Web-Server::git+https://gitlab.com/eidheim/Simple-Web-Server.git#commit=546895a93a29062bb178367b46c7afb72da9881e
	source = TPCircularBuffer::git+https://github.com/michaeltyson/TPCircularBuffer.git#commit=cc520397504bb72bc6df79ff03eb72988a6dc50d
	source = ViGEmClient::git+https://github.com/LizardByte/Virtual-Gamepad-Emulation-Client.git#commit=8d71f6740ffff4671cdadbca255ce528e3cd3fef
	source = foundation-build-deps::git+https://github.com/AlkaidLab/foundation-build-deps.git#commit=8e569811b6c0d1e5273e441c9572a7d0ab079833
	source = doxyconfig::git+https://github.com/LizardByte/doxyconfig.git#commit=7607aa992ca0770e06b735b8dfc15e36dc45649d
	source = googletest::git+https://github.com/google/googletest.git#commit=d72f9c8aea6817cdf1ca0ac10887f328de7f3da2
	source = inputtino::git+https://github.com/games-on-whales/inputtino.git#commit=d28ec79eb63324e68d73a7de22bcb5ff0a6f6bf8
	source = moonlight-audio-haptics::git+https://github.com/AlkaidLab/moonlight-audio-haptics.git#commit=21aae5018e36397d45b3dffff4005c952592ec0b
	source = moonlight-common-c::git+https://github.com/qiin2333/moonlight-common-c.git#commit=31a2a4589ea926988a08ca508bb317fbfbe2a177
	source = nanors::git+https://github.com/sleepybishop/nanors.git#commit=57ee5e921bd5047bca7ad377b181b7c28ea09731
	source = nvapi::git+https://github.com/NVIDIA/nvapi.git#commit=9296d671e71608d6d6b7749ed93989af4ada8858
	source = nv-codec-headers-1100::git+https://github.com/FFmpeg/nv-codec-headers.git#commit=18024c477256555badd8d5f1c5dd45b1cbb31cf6
	source = nv-codec-headers-1200::git+https://github.com/FFmpeg/nv-codec-headers.git#commit=fe32761e7a8bc79fcf560f356bf3898271bf4d56
	source = nv-codec-headers-1300::git+https://github.com/FFmpeg/nv-codec-headers.git#commit=88fee5c37318c991a8762d423530f91681e32e3a
	source = nv-codec-headers-1301::git+https://github.com/FFmpeg/nv-codec-headers.git#commit=0a6fba9a2820628b8103464f4c8753ee05838baa
	source = tray::git+https://github.com/LizardByte/tray.git#commit=9a1c9540f10f3847c54af30d5060345e8e7634ed
	source = wayland-protocols::git+https://github.com/LizardByte-infrastructure/wayland-protocols.git#commit=1f5f2b50ea2d88a9cc307902de2c8ed6b6d86f7d
	source = wlr-protocols::git+https://gitlab.freedesktop.org/wlroots/wlr-protocols.git#commit=a741f0ac5d655338a5100fc34bc8cec87d237346
	source = doxygen-awesome-css::git+https://github.com/jothepro/doxygen-awesome-css.git#commit=1f3620084ff75734ed192101acf40e9dff01d848
	source = enet::git+https://github.com/cgutman/enet.git#commit=aca87840b57f045a1f7f9299e4b1b9b8e2a5e2f1
	source = moonlight-common-c-nanors::git+https://github.com/sleepybishop/nanors.git#commit=b1e3c22ca0cdc0bb83e3cd6ed1a2fc77869ed99a
	source = tray-doxyconfig::git+https://github.com/LizardByte/doxyconfig.git#commit=e552f7c9f00cd0cf24764a37d0905935b3d2c188
	source = tray-googletest::git+https://github.com/google/googletest.git#commit=f8d7d77c06936315286eb55f8de22cd23c188571
	source = lizardbyte-common::git+https://github.com/LizardByte/lizardbyte-common.git#commit=8d7dcc97d0795e4eb2efdb50a86f83060ed47934
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = sunshine-foundation-git
